  h3 {  
        width: 400pt; 
        height: 4cm; 
        padding: 30px; 
        margin-left: 40px; 
        border: 4px solid maroon; 
        background-color: salmon;
        font-size: 15pt;
    } 
/*Michał Orliński*/